$buttom-main: #0958d9;

.continer {
    flex: 1;
}

.form-continer {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1rem;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.tableWrapper {
    height: 100%;
    overflow-y: scroll;
}

//form ------------------------------

.preview {
    aspect-ratio: 3/1;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid black;
    width: 100%;
    align-content: center;

    & p {
        text-align: center;
    }

    & img {
        width: 100%;
    }
}

.image-button {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 4px;
    width: 200px;
    padding: 4px;
    color: white;
    background-color: $buttom-main;
}

.link-input {
    width: 100%;
}

.errorText {
    color: red;
    font-size: 12px;
}

.upload-button{
    font-size: medium;
    align-self: flex-end;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 4px;
    width: 200px;
    padding: 4px;
    color: white;
    background-color: $buttom-main;
}

.draftbtn{
    color: $buttom-main;
    border-radius: 4px;
    border: none;
}

//end-form ------------------------------
